.wrapper-404 {
    width: 100vw;
    height: 100vh;
    background-image: -moz-linear-gradient( -108deg, rgb(51,153,255) 0%, rgb(0,102,255) 100%);
    background-image: -webkit-linear-gradient( -108deg, rgb(51,153,255) 0%, rgb(0,102,255) 100%);
    background-image: -ms-linear-gradient( -108deg, rgb(51,153,255) 0%, rgb(0,102,255) 100%);
    background-image: linear-gradient( -108deg, rgb(51,153,255) 0%, rgb(0,102,255) 100%);
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    .top-container {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 232px;
            margin-right: 5.75rem;
        }
        .texts {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                color: #fff;
                font-size: 220px;
                line-height: 180px;
                margin: 0;
                span {
                    font-size: 200px;
                }
            }
            h2 {
                color: #fff;
                text-transform: uppercase;
                font-size: 2.75rem;
                font-weight: bold;
                margin: 0;
            }
        }
    }
    .bottom-container {
        margin-top: 5rem;
        a {
            text-decoration: none;
            color: rgb(51,153,255);
            h1 {
                text-transform: uppercase;
                font-size: 1.5rem;
                padding: 1.25rem 2rem;
                border-radius: 1.25rem;
                background-image: linear-gradient( -108deg, rgb(255,255,255) 0%, rgb(231,231,231) 100%);
                
            }
        }
    }
}
  