* {
  box-sizing: border-box;
}

body{
    max-width: 2560px;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom, #f5f5f5, #f3f3f3, #f1f2f1, #f0f0f0, #eeeeee);
    min-height: 100vh;
}

h1 {
  font-weight: bold;
  margin: 0;
}

button {
  outline: none!important;
}

.prev {
  content: url('../assets/arrow-left.png');
  position: absolute;
  top: 50%;
  left: -70px;
  @media (max-width:650px) {
    top: unset;
    bottom: 3rem;
    left: 35%;
  }
}

.next {
  content: url('../assets/arrow-right.png');
  position: absolute;
  top: 50%;
  right: -70px;
  @media (max-width:650px) {
    top: unset;
    bottom: 3rem;
    right: 35%;
  }
}

.owl-dots {
  display: flex;
  justify-content: center;
  .owl-dot {
    span {
      border: 1px solid #000;
      border-radius: 20px;
      display: block;
      height: 12px;
      margin: 5px 7px;
      width: 12px;
    }
  }
  .active {
    span {
      background: none repeat scroll 0 0 #000;
      border-radius: 20px;
      display: block;
      height: 12px;
      margin: 5px 7px;
      width: 12px;
    }
  }
  @media (max-width:650px) {
    margin-top: 4rem;
  }
}

.sideArrow:hover > .dropdown .arrow-blue-left{
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.arrowButton{
  background: none;
  border: none;
  width: 32px;
  margin: 0 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideArrow a{
  color: white;
  width: 79px;
  text-align: center;

  margin-bottom: 0px;
}
.sideArrow a:hover{

  text-decoration: none;
}
.sideArrow{
  color: white;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: left;
  background: #0c72ff;
  height: 50px;
  width: 150px;
  margin-right: -100px;
  position: fixed;
  right: 0;
  top: 200px;
}

.sideArrow:hover{
  margin-right: 0;
}
i[class="arrow-blue-left"] {
  transition: 0.5s;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid;
  border-bottom: 0;
  border-left: 0;
  border-radius: 1px;
  text-indent: -624.9375rem;
}
i[class="arrow-blue-left"][class="arrow-blue-left"] {
  border-color: white;
}

i[class="arrow-blue-left"][class="arrow-blue-left"] {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
i[class="arrow-blue-left"][class*="-sm"] {
  width: 0.5rem;
  height: 0.5rem;
}

// Variables
@import '~lightbox2/dist/css/lightbox.min.css';
@import 'hamburger_menu';
@import 'normalize';
@import 'variables';
@import 'home_page';
@import 'contact_page';
@import 'internat_page';
@import 'ubytovna_page';
@import 'materialy_page';
@import 'default_page';
@import 'login_page';
@import '404_page';
@import 'layout';

