.contact-wrapper {
    display: flex;
    justify-content: space-between;
    width: 875px;
    margin: 7.5rem auto 0 auto;
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h4 {
            margin: 0 0 3.75rem 0;
            padding: 1.25rem;
            font-size: 1.375rem;
            text-transform: uppercase;
            color: #fff;
            border-radius: 1.25rem;
            background-image: linear-gradient( -108deg, rgb(51,153,255) 0%, rgb(0,102,255) 100%);
        }
    }
    @media (max-width:1050px) {
        width: 85%;
    }
    @media (max-width:900px) {
        flex-direction: column;
        align-items: center;
    }
}

.contact-section {
    margin-bottom: 3.75rem;
    h1 {
        text-transform: uppercase;
        font-size: 1.625rem;
        margin: 0 0 1rem 0;
    }
    h2 {
        font-size: 1rem;
        margin: 0;
        text-transform: uppercase;
    }
    p {
        margin: 0;
        font-size: 1.625rem;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 1rem;
        a {
            text-decoration: none;
            color: #000;
            transition: .3s;
        }
        a:hover {
            color: rgb(0,102,255);
        }
    }
    .contact-item {
        display: flex;
        align-items: center;
        margin-bottom: 1.625rem;
        .contact-item-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-image: linear-gradient( -108deg, rgb(51,153,255) 0%, rgb(0,102,255) 100%);
            margin-right: 1.25rem;
        }
        .contact-item-texts{
            display: flex;
            flex-direction: column;
            p {
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                font-size: 1.375rem;
                margin: 0 0 .5rem 0;
            }
            p:last-child {
                margin-bottom: 0;
            }
            h2 {
                font-weight: 400;
                margin: 0;
                text-transform: uppercase;
                font-size: 1rem;
            }
        }
    }
}