.page-container {
    width: $content-width;
    margin: 0 auto;
    margin-top: 3rem;
    @media (max-width:1300px) {
        width: 85%;
    }
}
.gallery-wrapper {
    width: 875px;
    margin: 0 auto 5rem auto;
    text-align: center;
    h1 {
        text-transform: uppercase;
    }

    .gallery-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .gallery-photo {
            margin-bottom: .5rem;
            width: 33%;
            img {
                max-width: 100%;
            }
            @media (max-width:1100px) {
                width: 49%;
            }
        }
    }
    @media (max-width:1100px) {
        width: 100%;
    }
}