.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hamburger-menu {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    background-image: linear-gradient( -108deg, rgb(0,0,0) 0%, rgb(25,25,25) 100%);
    background-image: -moz-linear-gradient( -108deg, rgb(0,0,0) 0%, rgb(25,25,25) 100%);
    background-image: -webkit-linear-gradient( -108deg, rgb(0,0,0) 0%, rgb(25,25,25) 100%);
    background-image: -ms-linear-gradient( -108deg, rgb(0,0,0) 0%, rgb(25,25,25) 100%);
    width: 450px;
    height: 100vh;
    z-index: 9000;
    
    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        list-style: none;
        padding: 0 4rem;
        margin: 0;
        li {
            width: 80%;
            padding-bottom: 1.5rem;
            margin-bottom: 1.5rem;
            border-bottom: 1px solid rgba(204, 204, 204,.502);
            position: relative;
            a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                img {
                    width: 135px;
                    margin: 2rem 0 4.5rem 0;
                }
            }
            div {
                display: none;
                flex-direction: column;
                align-items: flex-start;
                a:hover {
                    color: rgb(0,102,255);
                }
                a:first-child {
                    margin-top: .8rem;
                }
                a:last-child {
                    margin-bottom: 0;
                }
                a {
                    transition: .3s;
                    font-weight: 300;
                    margin-bottom: .8rem;
                }
            }
            .opened {
                display: flex;
            }
        }
        li:first-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
            text-align: center;
            align-self: center;
        }
        li:first-child::after, li:first-child::before {
            content: '';
        }
        li:nth-child(3)::before {
            content: url('../assets/burger-icons/study.png');
        }
        li:nth-child(4)::before {
            content: url('../assets/burger-icons/maturita.png');
        }
        li:nth-child(5)::before {
            content: url('../assets/burger-icons/komisie.png');
        }
        li:nth-child(6)::before {
            content: url('../assets/burger-icons/materialy.png');
        }
        li:nth-child(7)::before {
            content: url('../assets/burger-icons/ostatne.png');
        }
        li::after {
            position: absolute;
            top: 0;
            right: 0rem;
            cursor: pointer;
            content: url('../assets/burger-menu-arrow.png');
            transform: rotate(180deg);
        }
        li::before {
            position: absolute;
            left: -105px;
            top: -2rem;
            content: url('../assets/burger-icons/school.png');
        }

        .opened::after {
            transform: rotate(0deg);
        }
    }
    @media (max-width: 600px){
      width: 100%;
  }
}

.nav-icon-wrapper {
    position: fixed;
    right: 2rem;
    top: 2rem;
    display: none;
    z-index: 9999;
    @media (max-width:1000px) {
        display: block;
    }
}
  
#nav-icon {
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 9001;
  }
  
  #nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

#nav-icon span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 14px;
  }
  
  #nav-icon span:nth-child(4) {
    top: 28px;
  }
  
  #nav-icon.nav-icon-opened span:nth-child(1) {
    top: 14px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon.nav-icon-opened span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon.nav-icon-opened span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon.nav-icon-opened span:nth-child(4) {
    top: 14px;
    width: 0%;
    left: 50%;
  }

  @-webkit-keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      

.slide-out-right {
	-webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
  

@-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  