.fields-of-study{
    width: $content-width;
    margin: 0 auto;
    margin-bottom: 5rem;
    text-align: center;
    h1{
        font-size: 2.8rem;
        font-weight: bold;
        margin-bottom: 4rem;
        text-transform: uppercase;
        @media (max-width:600px) {
            font-size: 2.5rem;
        }
    }
    .fields{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-right: 5.75rem;
            max-width: 100px;
            img {
                max-width: 100%;
            }
            a {
                text-decoration: none;
                color: #000;
                transition: .3s;
                h2{
                    font-weight: bold;
                    max-width: 99%;
                    margin: .75rem auto 0 auto;
                    font-size: 1.125rem;
                    @media (max-width:600px) {
                        font-size: 1rem;
                    }
                }
            }
            a:hover {
                color: rgb(0,102,255);
            }
            @media (max-width:1000px) {
                margin-right: 3.5rem;
            }
            @media (max-width:800px) {
                margin-right: 2rem;
            }
            @media (max-width:750px) {
                margin-right: 0;
                margin-bottom: 2rem;
                max-width: 85px;
            }
        }
        div:nth-child(5){
            margin-right: 0;
        }
        @media (max-width:750px) {
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
    @media (max-width:1300px) {
        width: 80%;
    }
    @media (max-width:1000px) {
        margin-top: 3rem;
    }
}

.articles-wrapper {
    width: 1350px!important;
    margin: 0 auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    @media (max-width:1550px) {
        width: 70%!important;
    }
    @media (max-width:1300px) {
        width: 80%!important;
    }
    @media (max-width:1000px) {
        width: 500px!important;
    }
    @media (max-width:700px) {
        width: 70%!important;
    }
    @media (max-width:600px) {
        width: 80%!important;
    }
}

.show-all-articles {
    text-align: center;
    margin-bottom: 7rem;
    a {
        color: #000;
        text-decoration: none;
        transition: .3s;
        h1 {
            font-size: 2rem;
            font-weight: bold;
        }
    }
    a:hover {
        color: rgb(0,102,255);
    }
    @media (max-width:800px) {
        margin-bottom: 4rem;
    }
}
.all-articles-wrapper {
    width: 1350px!important;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 4rem;
    .homepage-article {
        width: 32%;
        margin-bottom: 2rem;
        @media (max-width:1300px) {
            width: 45%;
        }
        @media (max-width:1000px) {
            width: 500px;
        }
        @media (max-width:600px) {
            width: 90%;
        }
    }
    @media (max-width:1500px) {
        width: 95%!important;
    }
    @media (max-width:1300px) {
        width: 950px!important;
    }
    @media (max-width:1000px) {
        width: 95%!important;
    }
}

.homepage-article{
    width: 100%;
    height: 600px;
    background: #fff;
    padding: 2.5rem;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    align-items: center;
    a {
        color: #000;
        text-decoration: none;
        transition: .3s;
    }
    a:hover {
        color: rgb(0,102,255);
    }
    h2,h3,h4,h5,h6 {
        margin:0;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        text-align: justify;
        line-height: 1.2;
    }
    h1{
        text-align: center;
        margin: 0;
        font-size: 1.5rem;
        text-transform: uppercase;
        line-height: 1.5;
    }
    .date {
        font-size: 1rem;
        margin: 0;
        position: absolute;
        top: .75rem;
        right: .75rem;
    }
    .article-texts{
        margin-top: auto;
        * {
            font-size: 1rem!important;
        }
        p{
            margin:0;
            font-family: 'Open Sans', sans-serif;
            font-size: 1rem;
            text-align: justify;
            line-height: 1.2;
        }
        a {
            color: rgb(0,102,255);
        }
    }
    .article-img{
        margin-top: 1.375rem;
        width: 100%;
        img{
            object-fit: fill;
            height: 234px;
            width: 100%;
        }
    }
    .article-images-all {
        display: none;
    }
}

.article{
    display: flex;
    align-items: center;
    .article-texts{
        width: 40%;
        
        margin-right: 3rem;
        h1{
            font-size: 1.875rem;
            text-transform: uppercase;
            text-align: left;
            line-height: 1.5;
        }
        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 1.125rem;
            text-align: justify;
            line-height: 1.2;
        }
    }
    .article-img{
        width: 60%;
        img{
            max-width: 100%;
        }
    }
}

.links{
    justify-content: center;
    margin: 0 auto;
    display: flex;
    margin-bottom: 9rem;
    a{
        transition: .2s;
        margin-right: 1.75rem;
        text-decoration: none;
        div{
            position: relative;
            height: 175px;
            width: 145px;
            display: flex;
            background-repeat: no-repeat;
            border-radius: 1.875rem;
            h2{
                margin: auto 0 1rem 0;
                color: #fff;
                text-transform: uppercase;
                font-size: 1.75rem;
                font-weight: bold;
                text-align: center;
                @media (max-width:800px) {
                    font-size: 1.35rem;
                }
            }
        }
        .bg-fields{
            background-image: url('../assets/link1.png');
        }
        .bg-edupage{
            background-image: url('../assets/link2.png');
        }
        .bg-classbook{
            background-image: url('../assets/link3.png');
        }
        .bg-schedule{
            background-image: url('../assets/link4.png');
        }
        .bg-foodlist{
            background-image: url('../assets/link5.png');
        }
        @media (max-width:1300px) {
            margin-bottom: 1rem;
            margin-right: 0;
        }
    }
    a:hover{
        transform: scale(1.05);
    }
    a:nth-child(5){
        margin-right: 0;
    }
    @media (max-width:1300px) {
        width: 90%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    @media (max-width:800px) {
        margin-bottom: 4rem;
    }
    @media (max-width:600px) {
        width: 75%;
    }
}
.counters-wrapper {
    background-image: url('../assets/counter-bg.png');
    background-size: cover;
    background-position-x: center;
    
}
.section-wrapper{
    margin-bottom: 9rem;
    width: 100%;
    background-repeat: no-repeat;
    padding: 7.5rem 0;
    .counters{
        justify-content: center;
        margin: 0 auto;
        display: flex;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 7rem;
            h2{
                font-size: 1.625rem;
                font-weight: bold;
                text-transform: uppercase;
                color: #fff;
                margin: .75rem 0 1.375rem 0;
                margin-bottom: 1rem;
                @media (max-width:1000px) {
                    font-size: 1.2rem;
                }
                @media (max-width:600px) {
                    font-size: 1rem;
                }
            }
            h3{
                font-size: 2.75rem;
                color: #fff;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                margin: 0;
                @media (max-width:1000px) {
                    font-size: 1.75rem;
                }
                @media (max-width:600px) {
                    font-size: 1.25rem;
                }
            }
            @media (max-width:1000px) {
                 margin-right: 3rem;
            }
            @media (max-width:700px) {
                margin-right: 2rem;
           }
        }
        div:nth-child(3){
            margin-right: 0;
        }
    }
    @media (max-width:800px) {
        padding: 4rem 0;
    }
}

.why-us {
    width: $content-width;
    margin: 0 auto;
    .article {
       justify-content: center;
        .article-texts {
            @media (max-width:800px) {
                width: 75%;
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }
        .article-img{
            width: auto;
            text-align: center;
            img{
                max-width: 100%;
                @media (max-width:600px) {
                    max-width: 70%;
                }
            }
        }
        @media (max-width:800px) {
            flex-direction: column;
        }
    }
    @media (max-width:1300px) {
        width: 100%;
    }
}

.applications {
    background-image: url('../assets/applications-bg.png');
    text-align: center;
    margin: 7.5rem 0;
    h1 {
        font-size: 1.875rem;
        color: #fff;
    }
    a {
        display: inline-block;
        font-size: 1rem;
        line-height: 1rem;
        border-radius: 2.1875rem;
        padding: .75rem 1.875rem;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        background-image: linear-gradient( -108deg, rgb(51,153,255) 0%, rgb(0,102,255) 100%);
        background-image: -moz-linear-gradient( -108deg, rgb(51,153,255) 0%, rgb(0,102,255) 100%);
        background-image: -webkit-linear-gradient( -108deg, rgb(51,153,255) 0%, rgb(0,102,255) 100%);
        background-image: -ms-linear-gradient( -108deg, rgb(51,153,255) 0%, rgb(0,102,255) 100%);
          
    }
}

.quote {
    text-align: center;
    margin-bottom: 7.5rem;
    h2 {
        font-size: 2rem;
        font-style: italic;
        font-weight: 200;
        font-family: 'Open Sans', sans-serif;
        max-width: 550px;
        margin: 2rem auto 0 auto;
        @media (max-width:700px) {
            max-width: 90%;
            font-size: 1.75rem;
        }
    }
}

.sponsors {
    background-image: url('../assets/sponsors-bg.png');
    background-size: cover;
    text-align: center;
    h1 {
        margin-bottom: 3.75rem;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.875rem;
    }
    div {
        a {
            max-width: 40%;
            margin: .5rem 1rem .5rem 0;
            display: flex;
            align-items: center;
            img {
                max-height: 50px;
                max-width: 100%;
            }
        }
        a:last-child {
            margin-right: 0;
        }
    }
    .sponsors-item {
        width: 80%;
        margin: 0 auto; 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}