.college-wrapper {
    width: 1055px;
    margin: 0 auto;
    .article {
        margin-bottom: 5rem;
        .article-texts {
            p {
                text-align: left;
                margin: 0 0 .5rem 0;
            }
            @media (max-width:1100px) {
                width: 85%;
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }
        .article-img {
            text-align: center;
            @media (max-width:1100px) {
                width: 100%;
            }
        }
        @media (max-width:1100px) {
            flex-direction: column;
            align-items: center;
        }
    }
    .second-college-article {
        .article-texts {
            width: 65%;
            ul {
                list-style: circle;
                li {
                    font-weight: 300;
                    font-family: 'Open Sans', sans-serif;
                }
            }
            @media (max-width:1100px) {
                order: 1;
                width: 85%;
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }
        .article-img {
            text-align: center;
            @media (max-width:1100px) {
                order: 2;
            }
        }
    }
    @media (max-width:1300px) {
        width: 90%;
    }
}

.college-info-wrapper {
    display: flex;
    justify-content: center;
    margin: 8rem 0;
    .college-info-item {
        display: flex;
        flex-direction: column;
        margin-right: 4.25rem;
        &:last-child {
            margin-right: 0;
        }
        .college-info-item-heading {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            h1 {
                margin: 0;
            }
            .college-info-item-icon {
                display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: 45px;
                    height: 45px;
                    background-image: linear-gradient( -108deg, rgb(51,153,255) 0%, rgb(0,102,255) 100%);
                    margin-right: 1.25rem;
            }
        }
        .align-center {
            margin-top: 1rem;
            text-align: center;
        }
        .college-info-item-texts {
            font-family: 'Open Sans', sans-serif;
            p {
                margin: 0 0 .3rem 0;
            }
        }
        .item-texts-flex {
            display: flex;
            .college-info-item-texts-section {
                width: 40%;
            }
            .college-info-item-texts-section:nth-child(2) {
                text-align: center;
                width: 15%;
            }
            .college-info-item-texts-section:nth-child(3) {
                text-align: right;
                width: 45%;
            }
        }
        @media (max-width:1300px) {
            margin-right: 0;
        }
        @media (max-width:900px) {
            margin-bottom: 2rem;
        }
    }
    @media (max-width:1300px) {
        width: 85%;
        margin: 8rem auto 8rem auto;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media (max-width:900px) {
        flex-direction: column;
        align-items: center;
    }
}

.college-gallery-wrapper {
    width: 875px;
    margin: 0 auto 5rem auto;
    text-align: center;
    h1 {
        text-transform: uppercase;
    }

    .college-gallery-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .college-gallery-photo {
            margin-bottom: .5rem;
            width: 33%;
            img {
                max-width: 100%;
            }
            @media (max-width:700px) {
                width: 49%;
            }
        }
    }
    @media (max-width:1100px) {
        width: 90%;
    }
}