.materialy-page-bg {
    background-image: url("../assets/materialy-bg.png");
}

.kontakt-page-bg {
    background-image: url("../assets/contact-bg.png");
}

.internat-page-bg {
    background-image: url("../assets/internat-bg.png");
}

.ubytovna-page-bg {
    background-image: url("../assets/internat-bg.png");
}
.odkazy-page-bg {
    background-image: url("../assets/materialy-bg.png");
}

header{
    background-repeat: no-repeat;
    min-height: 850px;
    position: relative;
    overflow: hidden;
    background-position-x: center;
    background-image: url("../assets/header-bg.png");
    .nav-bg {
        background-color: rgba(12, 114, 255, 1);
        transition: .3s;
        ul {
            li {
                a:hover {
                    color: #000!important;
                }
                .own-dropdown {
                    top: 10px;
                    padding: 1rem;
                    background-color: rgba(12, 114, 255, 1)!important;
                    padding: 0rem 2rem 1.5rem 2rem!important;
                    margin-left: -1rem;
                    margin-top: 1rem;
                    border: none;
                    a {
                        color: #fff;
                        padding: 0;
                        margin-bottom: 1.5rem;
                    }
                    a:last-child {
                        margin-bottom: 0;
                    }
                    a:hover {
                        color: #0c72ff;
                        background-color: transparent;
                    }
                }
            }
        }
    }
    .main-nav{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        transition: height .7s linear;
        ul{
            width: 100%;
            padding: 0;
            padding: 1rem 0 1rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0;
            list-style: none;
            
            li{
                margin-right: 1rem;
                img {
                    max-width: 96px;
                    @media (max-width: 1150px){
                        max-width: 85px;
                    }
                }
                a{
                    font-size: 1.25rem;
                    line-height: 0;
                    font-weight: bold;
                    letter-spacing: .5px;
                    text-decoration: none;
                    color: #fff;
                    transition: .3s;
                    @media (max-width: 1150px){
                        font-size: 1.1rem;
                    }
                }
                a:hover{
                    color: #0c72ff;
                }
                .own-dropdown {
                    top: 10px;
                    padding: 1rem;
                    background-color: transparent;
                    border: none;
                    a {
                        color: #fff;
                        padding: 0;
                        margin-bottom: 1.5rem;
                    }
                    a:last-child {
                        margin-bottom: 0;
                    }
                    a:hover {
                        color: #0c72ff;
                        background-color: transparent;
                    }
                }
                @media (max-width: 1150px){
                    margin-right: .5rem;
                }
            }
            li:last-child{
                margin-right: 0;                
            }
        }
        @media (max-width: 1000px){
            display: none;
        }
    }
    .school-banner{
        padding: 16.5rem 0 0 0;
        text-align: right;
        width: $content-width;
        margin: 0 auto;
        h1 {
            margin: 0;
            color: #fff;
            font-size: 6rem;
            line-height: 1;
            text-transform: uppercase;
            font-weight: bold;
            max-width: 60%;
            margin-left: auto;
            @media (max-width:1000px) {
                max-width: 100%;
                font-size: 4rem;
            }
        }
        h2{ 
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            color: #fff;
            font-size: 2.5rem;
            line-height: 1;
            max-width: 60%;
            margin-left: auto;
            @media (max-width:1000px) {
                max-width: 100%;
            }
        }
        h3 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            color: #fff;
            font-size: 1.25rem;
            margin: 0;
            max-width: 60%;
            margin-left: auto;
            @media (max-width:1000px) {
                max-width: 100%;
            }
        }
        p{
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            color: #fff;
            font-size: 1.875rem;
            margin: 0;
            max-width: 60%;
            margin-left: auto;
            @media (max-width:1000px) {
                max-width: 100%;
            }
        }
        @media (max-width:1300px) {
            width: 80%;
        }
        @media (max-width:1000px) {
            text-align: center;
            padding: 12.5rem 0 0 0;
        }
    }
    @media (max-width:1400px) {
        min-height: 750px;
    }
    @media (max-width: 700px){
        min-height: 700px;
    }
    @media (max-width: 500px){
        min-height: 675px;
    }
}
header::after{
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 300px;
    display: block;
    display: block;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/header-bg-after.png');
    @media (max-width:1000px) {
        background-size: contain;
    }
}

footer {
    text-align: center;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    margin: 2rem 0;
    h1 {
        font-size: 1.375rem;
        font-weight: 300;
        margin: 0 0 .5rem 0;
    }
    h2 {
        margin: 0;
        font-size: 1rem;
        font-weight: 300;
    }
}

.scale-down-center {
    animation: scale-down-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.scale-up-center {
    animation: scale-up-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

  @keyframes scale-down-center {
    0% {
        max-width: 95px;
    }
    100% {
        max-width: 70px;
    }
  }

  @keyframes scale-up-center {
    0% {
        max-width: 70px;
    }
    100% {
        max-width: 95px;
    }
  }