.login-page-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/login-page-bg.png");
    position: relative;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    a {
        margin-top: 6.5rem;
        z-index: 3;
        img {
            z-index: 4;
        }
    }
}

.login-page-wrapper::after{
    content: '';
    background-image: url('../assets/header-bg-after.png');
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.login-form {
    z-index: 3;
    margin-top: 5rem;
    border-radius: 3.125rem;
    padding: 3.375rem 2rem 1.375rem 2rem;
    background-color: #fff;
    text-align: center;
    width: 430px;
    h1 {
        margin: 0 0 2rem 0;
        font-size: 2.8rem;
    }
    .input-wrapper {
        text-align: center;
        label, input {
            font-size: 1.25rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
        }
        input {
            border-radius: 1.625rem;
            margin: .5rem 0 1rem 0;
            padding: 1rem 1.75rem;
            background-color: rgb(183, 183, 183);
            border: none;
            outline: none;
            width: 100%;
        }

        button {
            background-image: linear-gradient( -108deg, rgb(51,153,255) 0%, rgb(0,102,255) 100%);
            border-radius: 1.25rem;
            padding: .75rem 1.25rem;
            margin-top: 2.75rem;
            border: none;
            outline: none;
            text-transform: uppercase;
            color: #fff;
            cursor: pointer;
        }
    }
}
  