.files-page-wrapper {
    h1 {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.files-wrapper {
    width: 1000px;
    margin: 3rem auto 0 auto;
    .files-section{
        margin-bottom: 1rem;
        .section-expanded {
            border-radius: 0!important;
            border-top-left-radius: 1.25rem!important;
            border-top-right-radius: 1.25rem!important;
        }
        .files-section-name{
            border-radius: 1.25rem;
            display: flex;
            align-items: center;
            padding: 1rem;
            background-image: linear-gradient( 90deg, rgb(51,153,255) 0%, rgb(0,102,255) 100%);

            h1 {
                cursor: pointer;
                margin: 0;
                color: #fff;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 2rem;
                @media (max-width:900px) {
                    font-size: 1.5rem;
                }
            }
            img {
                max-width: 25px;
                cursor: pointer;
            }
            .files-section-buttons {
                margin-left: auto;
                .hide {
                    display: none;
                }
            }
        }
        .files-section-body {
            display: none;
            table {
                width: 100%;
                thead {
                    tr{
                        background-color: #ebebeb;
                    }
                }
                tr {
                    padding: 2rem 0;
                    background-color: #fff;
                    th {
                        font-weight: bold;
                    }
                    td {
                        font-weight: normal;
                        a {
                            color: #000;
                            text-decoration: none;
                            transition: .3s;
                        }
                        a:hover {
                            color: rgb(0,102,255)
                        }
                    }

                    th,td {
                        font-size: 1.1rem;
                        text-align: center;
                        padding: 1.2rem 0;
                        @media (max-width:900px) {
                            font-size: 1rem;
                        }
                        @media (max-width:700px) {
                            font-size: .9rem;
                        }
                    }

                    th:first-child, td:first-child {
                        width: 70%;
                        text-align: left;
                        padding-left: 1rem;
                        @media (max-width:700px) {
                            width: 60%;
                        }
                    }
                    .open-link {
                        text-align: right;
                    }

                    .nahlad,.stiahnut{
                        a {
                            border-radius: 1.25rem;
                            font-size: 1rem;
                            padding: .3rem 1rem;
                            text-transform: uppercase;
                            text-decoration: none;
                            background-image: linear-gradient( -108deg, rgb(51,153,255) 0%, rgb(0,102,255) 100%);
                            color: #fff;
                            @media (max-width:900px) {
                                font-size: .9rem;
                            }
                            @media (max-width:700px) {
                                font-size: .8rem;
                                padding: .25rem .8rem;
                            }
                        }
                        a:hover {
                            color: #000;
                        }
                    }
                }
                tr:nth-child(even) {
                    background-color: #f7f7f7;
                }
            }
        }
    }
    @media (max-width:1100px) {
        width: 90%;
    }
}