.hostel-wrapper {
    width: 1055px;
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .article {
        margin-bottom: 5rem;
        .article-img {
            @media (max-width:1300px) {
                width: 100%;
                text-align: center;
            }
        }
        .article-texts {
            h1 {
                margin-top: 0;
            }
            p {
                text-align: left;
                margin: 0 0 .5rem 0;
            }
            @media (max-width:1300px) {
                width: 85%;
                margin-bottom: 2rem;
            }
        }
        @media (max-width:1300px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .hostel-gallery-wrapper {
        width: 875px;
        margin: 0 auto 5rem auto;
        text-align: center;
        h1 {
            text-transform: uppercase;
        }
    
        .college-gallery-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .college-gallery-photo {
                width: 33%;
                margin-bottom: .5rem;
                img {
                    max-width: 100%;
                }
                @media (max-width:700px) {
                    width: 49%;
                }
            }
        }
        @media (max-width:1100px) {
            width: 100%;
        }
    }
    @media (max-width:1300px) {
        width: 90%;
    }
}

.hostel {
    background-image: url('../assets/applications-bg.png');
    text-align: center;
    margin: 7.5rem 0;
    .number-of-beds {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            display: flex;
            align-items: center;
            margin-right: 6rem;
            div {
                display: flex;
                flex-direction: column;
                color: #fff;
                text-transform: uppercase;
                margin-right: 1.5rem;
                h1 {
                    font-size: 1.625rem;
                    line-height: 1rem;
                    margin: 0;
                    @media (max-width:900px) {
                        font-size: 1.3rem;
                    }
                }
                p {
                    margin: 0;
                    font-size: .8rem;
                    @media (max-width:900px) {
                        font-size: .65rem;
                    }
                }
                @media (max-width:900px) {
                    margin-right: .75rem;
                    margin-bottom: 0;
                }
            }
            span {
                font-size: 2.875rem;
                color: #fff;
                padding: 0 .75rem;
                background-image: linear-gradient( -108deg, rgb(51,153,255) 0%, rgb(0,102,255) 100%);
                border-radius: 1.25rem;
                @media (max-width:900px) {
                    font-size: 2.2rem;
                }
            }
            @media (max-width:900px) {
                margin-right: 3rem;
            }
            @media (max-width:600px) {
                margin-right: 0;
                margin-bottom: 1rem;
            }
        }
        div:last-child {
            margin-right: 0;
        }
        @media (max-width:600px) {
            flex-direction: column;
        }
    }
    @media (max-width:800px) {
        margin: 4rem 0;
    }
}

.hostel-contact {
    margin: 0 auto;
    display: flex;
    .contact-item {
        margin-right: 2rem;
        @media (max-width:900px) {
            margin-right: 0;
            margin-bottom: 2rem;
        }
    }
    .contact-item:last-child {
        margin-right: 0;
    }
    @media (max-width:900px) {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    @media (max-width:700px) {
        flex-direction: column;
        align-items: flex-start;
    }
}