@font-face {
    font-family: "League";
    src: url(/fonts/leaguespartan-bold.woff?de124ab4fe636436b7f9d3b1f5ac3eed) format("woff"), url(/fonts/leaguespartan-bold.ttf?7cc8cbbd7a330c0d1e7c08c6d62711e4) format("truetype"), url(/fonts/LeagueSpartan-Bold.otf?a6509aa3161205ebe01c0f7e2f209b44) format("opentype");
  }
  
  @font-face {
    font-family: "Black Label";
    src: url(/fonts/BlackLabel-Light.ttf?9146084e572e7eef9ff4652c32b84cc5) format("truetype");
  }
  
  body {
    min-height: 100vh;
    max-width: 2560px;
    font-family: "League";
    background-image: -webkit-linear-gradient(90deg, white 0%, #d4cdcd);
  }
  
  /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
  
  /* Document
     ========================================================================== */
  
  /**
   * 1. Correct the line height in all browsers.
   * 2. Prevent adjustments of font size after orientation changes in iOS.
   */
  
  html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
    /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input {
    /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select {
    /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type=button],
  [type=reset],
  [type=submit] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type=button]::-moz-focus-inner,
  [type=reset]::-moz-focus-inner,
  [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type=button]:-moz-focusring,
  [type=reset]:-moz-focusring,
  [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type=checkbox],
  [type=radio] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type=number]::-webkit-inner-spin-button,
  [type=number]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type=search] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }
  .container-fluid{
    padding: 0;
  }
  .sideMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../images/admin/sponsors-bg.png);
    color: #e1e1e1;
    position: fixed;
    width: 18%;
    top: 0;
    z-index: 2;
  }
  .show{
    background: linear-gradient(-108deg, rgba(51,153,255,0.5) 50%, rgb(0,102,255,0.5) 30%);
  }
  .modal-content{
    opacity: 1 !important;
  }
  .dropdown-item{
    color: white;
    filter: blur(none);
  }
  .sideMenuInsider{
    
    padding: 4%;
    width: 100%;
    height: 90vh;
  }
  .sideMenuInsider h3{
    text-align: center;
  }
  .sideMenuInsider ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 8vh;
  }
  .sideMenuInsider ul li a i , .sideMenuInsider ul li div button i{
    padding-right:10px;
  }
  .sideMenuInsider ul li{

    list-style: none;
    width: 75%;
    padding: 1vh 0;
  }
  .sideMenuInsider ul li a , .sideMenuInsider ul li div button{
    border: none;
    width: 100%;
    background: linear-gradient(-108deg, #3399ff 0%, #0066ff 100%);
  }
  .sideMenuHeader{
    display: flex;
    flex: 0 0 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
  }
  .sideMenuHeader img a{
    padding: 20px 0;
  }
  .addButton a{
    color: #fff;
    font-size: 5em;
    padding: 0 25px;
    

  }
  main {
    min-height: 90vh;
    width: 82%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 18%;
    box-sizing: border-box;
    padding: 10px;
  }
  .addButton{
    width: 100px;
    height: 100px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 400;
    
  }
  .addButton a{
    
    position: relative;
    right: 30px;
    bottom: 20px;
    width: 100%;
  }
  .addButton a:hover{
    
    text-decoration: none;
    color: #fff;
  }
  .add-post-form {
    margin: 0 auto;
    width: 80%;
  }
  .posts{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  .post{
    position: relative;
    flex: 1 0 25%;
    width: 600px;
    height: 500px;
    overflow-y: scroll;
    padding: 40px;
    background: #2c2c34;
    margin: 20px;
    color: #fff;
  }
  .post h2{
    text-align: center;
  }


  .post .buttons{
    padding: 0 40px;
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    left: 0;
    flex-direction: row;
    justify-content: flex-end;
  }
  .post .buttons button{
    margin-left: 10px;
  }
  main h1{
    font-size: 2.5em;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  .pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .photos{
    display: flex;
    flex-wrap: wrap;
  }
  .photo {
    overflow: hidden;

    width: 30.33%;
    height: 300px;
    margin: 5px 0.5%;
    box-sizing: border-box;
  }
  .photo form img{
    width: 100%;
  }
  
  
  
  .all-articles-wrapper {
    width: 100% !important;
    overflow: hidden;
    
  }
  
  .homepage-article {
    margin: 10px auto;
    width: 100%;
    max-width: 549px;
    min-width: 400px;
    height: 700px;
    background: #fff;
    padding: 2.5rem;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }
  
  .homepage-article a {
    color: #000;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .homepage-article a:hover {
    color: #0066ff;
  }
  
  .homepage-article h2,
  .homepage-article h3,
  .homepage-article h4,
  .homepage-article h5,
  .homepage-article h6 {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.2;
  }
  
  .homepage-article h1 {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.5;
  }
  
  .homepage-article .date {
    font-size: 1rem;
    margin: 0;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }
  
  .homepage-article .article-texts {
    margin-top: auto;
    width: 100%;
    
    overflow: hidden;
  }
  
  .homepage-article .article-texts * {
    font-size: 1rem !important;
    width: 100%;
    display: inline-block;
  }
  
  .homepage-article .article-texts p {
    word-wrap: break-word;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.2;
  }
  
  .homepage-article .article-texts a {
    color: #0066ff;
  }
  
  .homepage-article .article-img {
    margin-top: 1.375rem;
    width: 100%;
  }
  
  .homepage-article .article-img img {
    -o-object-fit: fill;
       object-fit: fill;
    height: 234px;
    width: 100%;
  }
  
  .homepage-article .article-images-all {
    display: none;
  }
  
  .article {
    display: flex;
    align-items: center;
  }
  
  .article .article-texts {
    width: 40%;
    margin-right: 3rem;
  }
  
  .article .article-texts h1 {
    font-size: 1.875rem;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.5;
  }
  
  .article .article-texts p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    text-align: justify;
    line-height: 1.2;
  }
  
  .article .article-img {
    width: 60%;
  }
  
  .article .article-img img {
    max-width: 100%;
  }
  .alert{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5000;
    
  }
  .homepage-article .buttons{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .homepage-article .buttons a{
    color: white;
  }