.lb-loader,.lightbox{text-align:center;line-height:0;position:absolute;left:0}body.lb-disable-scrolling{overflow:hidden}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{width:100%;z-index:10000;font-weight:400;outline:0}.lightbox .lb-image{display:block;height:auto;max-width:inherit;max-height:none;border-radius:3px;border:4px solid #fff}.lightbox a img{border:none}.lb-outerContainer{position:relative;width:250px;height:250px;margin:0 auto;border-radius:4px;background-color:#fff}.lb-outerContainer:after{content:"";display:table;clear:both}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(/images/vendor/lightbox2/dist/loading.gif?2299ad0b3f63413f026dfec20c205b8f) no-repeat}.lb-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(/images/vendor/lightbox2/dist/prev.png?84b76dee6b27b795e89e3649078a11c2) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(/images/vendor/lightbox2/dist/next.png?31f15875975aab69085470aabbfec802) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;border-bottom-left-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{content:"";display:table;clear:both}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-caption a{color:#4ae}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(/images/vendor/lightbox2/dist/close.png?d9d2d0b1308cb694aa8116915592e2a9) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}* {
  box-sizing: border-box;
}

body {
  max-width: 2560px;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to bottom, #f5f5f5, #f3f3f3, #f1f2f1, #f0f0f0, #eeeeee);
  min-height: 100vh;
}

h1 {
  font-weight: bold;
  margin: 0;
}

button {
  outline: none !important;
}

.prev {
  content: url(/images/arrow-left.png?dc92f5c89fa7efdcbeb2d7f0e0aed118);
  position: absolute;
  top: 50%;
  left: -70px;
}

@media (max-width: 650px) {
  .prev {
    top: unset;
    bottom: 3rem;
    left: 35%;
  }
}

.next {
  content: url(/images/arrow-right.png?eb92adb1e1b78d4295938d03e25632f4);
  position: absolute;
  top: 50%;
  right: -70px;
}

@media (max-width: 650px) {
  .next {
    top: unset;
    bottom: 3rem;
    right: 35%;
  }
}

.owl-dots {
  display: flex;
  justify-content: center;
}

.owl-dots .owl-dot span {
  border: 1px solid #000;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  width: 12px;
}

.owl-dots .active span {
  background: none repeat scroll 0 0 #000;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  width: 12px;
}

@media (max-width: 650px) {
  .owl-dots {
    margin-top: 4rem;
  }
}

.sideArrow:hover > .dropdown .arrow-blue-left {
  transform: rotate(135deg);
}

.arrowButton {
  background: none;
  border: none;
  width: 32px;
  margin: 0 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideArrow a {
  color: white;
  width: 79px;
  text-align: center;
  margin-bottom: 0px;
}

.sideArrow a:hover {
  text-decoration: none;
}

.sideArrow {
  color: white;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: left;
  background: #0c72ff;
  height: 50px;
  width: 150px;
  margin-right: -100px;
  position: fixed;
  right: 0;
  top: 200px;
}

.sideArrow:hover {
  margin-right: 0;
}

i[class=arrow-blue-left] {
  transition: 0.5s;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid;
  border-bottom: 0;
  border-left: 0;
  border-radius: 1px;
  text-indent: -624.9375rem;
}

i[class=arrow-blue-left][class=arrow-blue-left] {
  border-color: white;
}

i[class=arrow-blue-left][class=arrow-blue-left] {
  transform: rotate(225deg);
}

i[class=arrow-blue-left][class*=-sm] {
  width: 0.5rem;
  height: 0.5rem;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hamburger-menu {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  background-image: linear-gradient(-108deg, black 0%, #191919 100%);
  background-image: -ms-linear-gradient(-108deg, black 0%, #191919 100%);
  width: 450px;
  height: 100vh;
  z-index: 9000;
}

.hamburger-menu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  padding: 0 4rem;
  margin: 0;
}

.hamburger-menu ul li {
  width: 80%;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgba(204, 204, 204, 0.502);
  position: relative;
}

.hamburger-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hamburger-menu ul li a img {
  width: 135px;
  margin: 2rem 0 4.5rem 0;
}

.hamburger-menu ul li div {
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

.hamburger-menu ul li div a:hover {
  color: #0066ff;
}

.hamburger-menu ul li div a:first-child {
  margin-top: 0.8rem;
}

.hamburger-menu ul li div a:last-child {
  margin-bottom: 0;
}

.hamburger-menu ul li div a {
  transition: 0.3s;
  font-weight: 300;
  margin-bottom: 0.8rem;
}

.hamburger-menu ul li .opened {
  display: flex;
}

.hamburger-menu ul li:first-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  align-self: center;
}

.hamburger-menu ul li:first-child::after,
.hamburger-menu ul li:first-child::before {
  content: "";
}

.hamburger-menu ul li:nth-child(3)::before {
  content: url(/images/study.png?a4d6f4886879d4335f3c193ac44a0729);
}

.hamburger-menu ul li:nth-child(4)::before {
  content: url(/images/maturita.png?63770600409a9b78a756ff37345dee4d);
}

.hamburger-menu ul li:nth-child(5)::before {
  content: url(/images/komisie.png?0125de3658eaab396593157542dd3184);
}

.hamburger-menu ul li:nth-child(6)::before {
  content: url(/images/materialy.png?1cd1c03f83c94a9cec0bb61b4856af0d);
}

.hamburger-menu ul li:nth-child(7)::before {
  content: url(/images/ostatne.png?e009555c6794b6150965bd62176297e2);
}

.hamburger-menu ul li::after {
  position: absolute;
  top: 0;
  right: 0rem;
  cursor: pointer;
  content: url(/images/burger-menu-arrow.png?ae171fd2cc34bdf6f54df5b33bbd0af8);
  transform: rotate(180deg);
}

.hamburger-menu ul li::before {
  position: absolute;
  left: -105px;
  top: -2rem;
  content: url(/images/school.png?e7e5687d6744b11d35baf4e386ebc866);
}

.hamburger-menu ul .opened::after {
  transform: rotate(0deg);
}

@media (max-width: 600px) {
  .hamburger-menu {
    width: 100%;
  }
}

.nav-icon-wrapper {
  position: fixed;
  right: 2rem;
  top: 2rem;
  display: none;
  z-index: 9999;
}

@media (max-width: 1000px) {
  .nav-icon-wrapper {
    display: block;
  }
}

#nav-icon {
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 9001;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 14px;
}

#nav-icon span:nth-child(4) {
  top: 28px;
}

#nav-icon.nav-icon-opened span:nth-child(1) {
  top: 14px;
  width: 0%;
  left: 50%;
}

#nav-icon.nav-icon-opened span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon.nav-icon-opened span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-icon.nav-icon-opened span:nth-child(4) {
  top: 14px;
  width: 0%;
  left: 50%;
}

@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.fields-of-study {
  width: 1095px;
  margin: 0 auto;
  margin-bottom: 5rem;
  text-align: center;
}

.fields-of-study h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 4rem;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .fields-of-study h1 {
    font-size: 2.5rem;
  }
}

.fields-of-study .fields {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.fields-of-study .fields div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 5.75rem;
  max-width: 100px;
}

.fields-of-study .fields div img {
  max-width: 100%;
}

.fields-of-study .fields div a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.fields-of-study .fields div a h2 {
  font-weight: bold;
  max-width: 99%;
  margin: 0.75rem auto 0 auto;
  font-size: 1.125rem;
}

@media (max-width: 600px) {
  .fields-of-study .fields div a h2 {
    font-size: 1rem;
  }
}

.fields-of-study .fields div a:hover {
  color: #0066ff;
}

@media (max-width: 1000px) {
  .fields-of-study .fields div {
    margin-right: 3.5rem;
  }
}

@media (max-width: 800px) {
  .fields-of-study .fields div {
    margin-right: 2rem;
  }
}

@media (max-width: 750px) {
  .fields-of-study .fields div {
    margin-right: 0;
    margin-bottom: 2rem;
    max-width: 85px;
  }
}

.fields-of-study .fields div:nth-child(5) {
  margin-right: 0;
}

@media (max-width: 750px) {
  .fields-of-study .fields {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media (max-width: 1300px) {
  .fields-of-study {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .fields-of-study {
    margin-top: 3rem;
  }
}

.articles-wrapper {
  width: 1350px !important;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1550px) {
  .articles-wrapper {
    width: 70% !important;
  }
}

@media (max-width: 1300px) {
  .articles-wrapper {
    width: 80% !important;
  }
}

@media (max-width: 1000px) {
  .articles-wrapper {
    width: 500px !important;
  }
}

@media (max-width: 700px) {
  .articles-wrapper {
    width: 70% !important;
  }
}

@media (max-width: 600px) {
  .articles-wrapper {
    width: 80% !important;
  }
}

.show-all-articles {
  text-align: center;
  margin-bottom: 7rem;
}

.show-all-articles a {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.show-all-articles a h1 {
  font-size: 2rem;
  font-weight: bold;
}

.show-all-articles a:hover {
  color: #0066ff;
}

@media (max-width: 800px) {
  .show-all-articles {
    margin-bottom: 4rem;
  }
}

.all-articles-wrapper {
  width: 1350px !important;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.all-articles-wrapper .homepage-article {
  width: 32%;
  margin-bottom: 2rem;
}

@media (max-width: 1300px) {
  .all-articles-wrapper .homepage-article {
    width: 45%;
  }
}

@media (max-width: 1000px) {
  .all-articles-wrapper .homepage-article {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .all-articles-wrapper .homepage-article {
    width: 90%;
  }
}

@media (max-width: 1500px) {
  .all-articles-wrapper {
    width: 95% !important;
  }
}

@media (max-width: 1300px) {
  .all-articles-wrapper {
    width: 950px !important;
  }
}

@media (max-width: 1000px) {
  .all-articles-wrapper {
    width: 95% !important;
  }
}

.homepage-article {
  width: 100%;
  height: 600px;
  background: #fff;
  padding: 2.5rem;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.homepage-article a {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.homepage-article a:hover {
  color: #0066ff;
}

.homepage-article h2,
.homepage-article h3,
.homepage-article h4,
.homepage-article h5,
.homepage-article h6 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.2;
}

.homepage-article h1 {
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.5;
}

.homepage-article .date {
  font-size: 1rem;
  margin: 0;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}

.homepage-article .article-texts {
  margin-top: auto;
}

.homepage-article .article-texts * {
  font-size: 1rem !important;
}

.homepage-article .article-texts p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.2;
}

.homepage-article .article-texts a {
  color: #0066ff;
}

.homepage-article .article-img {
  margin-top: 1.375rem;
  width: 100%;
}

.homepage-article .article-img img {
  -o-object-fit: fill;
     object-fit: fill;
  height: 234px;
  width: 100%;
}

.homepage-article .article-images-all {
  display: none;
}

.article {
  display: flex;
  align-items: center;
}

.article .article-texts {
  width: 40%;
  margin-right: 3rem;
}

.article .article-texts h1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.5;
}

.article .article-texts p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  text-align: justify;
  line-height: 1.2;
}

.article .article-img {
  width: 60%;
}

.article .article-img img {
  max-width: 100%;
}

.links {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  margin-bottom: 9rem;
}

.links a {
  transition: 0.2s;
  margin-right: 1.75rem;
  text-decoration: none;
}

.links a div {
  position: relative;
  height: 175px;
  width: 145px;
  display: flex;
  background-repeat: no-repeat;
  border-radius: 1.875rem;
}

.links a div h2 {
  margin: auto 0 1rem 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 800px) {
  .links a div h2 {
    font-size: 1.35rem;
  }
}

.links a .bg-fields {
  background-image: url(/images/link1.png?3b15d76631518ea576ebfd37acda4d2a);
}

.links a .bg-edupage {
  background-image: url(/images/link2.png?32204df7cc3946b2aba1e13015447b07);
}

.links a .bg-classbook {
  background-image: url(/images/link3.png?2a81186da54879fe4edc0ec11fd29b16);
}

.links a .bg-schedule {
  background-image: url(/images/link4.png?585fc8b70fb23a1edb291ccecf066190);
}

.links a .bg-foodlist {
  background-image: url(/images/link5.png?fa74f0c5cd99a14667f6579df341e89f);
}

@media (max-width: 1300px) {
  .links a {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}

.links a:hover {
  transform: scale(1.05);
}

.links a:nth-child(5) {
  margin-right: 0;
}

@media (max-width: 1300px) {
  .links {
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media (max-width: 800px) {
  .links {
    margin-bottom: 4rem;
  }
}

@media (max-width: 600px) {
  .links {
    width: 75%;
  }
}

.counters-wrapper {
  background-image: url(/images/counter-bg.png?536a7d7541f05bfd9622ef6725e60af2);
  background-size: cover;
  background-position-x: center;
}

.section-wrapper {
  margin-bottom: 9rem;
  width: 100%;
  background-repeat: no-repeat;
  padding: 7.5rem 0;
}

.section-wrapper .counters {
  justify-content: center;
  margin: 0 auto;
  display: flex;
}

.section-wrapper .counters div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 7rem;
}

.section-wrapper .counters div h2 {
  font-size: 1.625rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin: 0.75rem 0 1.375rem 0;
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  .section-wrapper .counters div h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .section-wrapper .counters div h2 {
    font-size: 1rem;
  }
}

.section-wrapper .counters div h3 {
  font-size: 2.75rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 1000px) {
  .section-wrapper .counters div h3 {
    font-size: 1.75rem;
  }
}

@media (max-width: 600px) {
  .section-wrapper .counters div h3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 1000px) {
  .section-wrapper .counters div {
    margin-right: 3rem;
  }
}

@media (max-width: 700px) {
  .section-wrapper .counters div {
    margin-right: 2rem;
  }
}

.section-wrapper .counters div:nth-child(3) {
  margin-right: 0;
}

@media (max-width: 800px) {
  .section-wrapper {
    padding: 4rem 0;
  }
}

.why-us {
  width: 1095px;
  margin: 0 auto;
}

.why-us .article {
  justify-content: center;
}

@media (max-width: 800px) {
  .why-us .article .article-texts {
    width: 75%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.why-us .article .article-img {
  width: auto;
  text-align: center;
}

.why-us .article .article-img img {
  max-width: 100%;
}

@media (max-width: 600px) {
  .why-us .article .article-img img {
    max-width: 70%;
  }
}

@media (max-width: 800px) {
  .why-us .article {
    flex-direction: column;
  }
}

@media (max-width: 1300px) {
  .why-us {
    width: 100%;
  }
}

.applications {
  background-image: url(/images/applications-bg.png?037dbfc3b5223424305241c058095c63);
  text-align: center;
  margin: 7.5rem 0;
}

.applications h1 {
  font-size: 1.875rem;
  color: #fff;
}

.applications a {
  display: inline-block;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 2.1875rem;
  padding: 0.75rem 1.875rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(-108deg, #3399ff 0%, #0066ff 100%);
  background-image: -ms-linear-gradient(-108deg, #3399ff 0%, #0066ff 100%);
}

.quote {
  text-align: center;
  margin-bottom: 7.5rem;
}

.quote h2 {
  font-size: 2rem;
  font-style: italic;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  max-width: 550px;
  margin: 2rem auto 0 auto;
}

@media (max-width: 700px) {
  .quote h2 {
    max-width: 90%;
    font-size: 1.75rem;
  }
}

.sponsors {
  background-image: url(/images/sponsors-bg.png?d1f6f532ce645ba32d6dc48d596bd1d7);
  background-size: cover;
  text-align: center;
}

.sponsors h1 {
  margin-bottom: 3.75rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.875rem;
}

.sponsors div a {
  max-width: 40%;
  margin: 0.5rem 1rem 0.5rem 0;
  display: flex;
  align-items: center;
}

.sponsors div a img {
  max-height: 50px;
  max-width: 100%;
}

.sponsors div a:last-child {
  margin-right: 0;
}

.sponsors .sponsors-item {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  width: 875px;
  margin: 7.5rem auto 0 auto;
}

.contact-wrapper .contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-wrapper .contact-container h4 {
  margin: 0 0 3.75rem 0;
  padding: 1.25rem;
  font-size: 1.375rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: 1.25rem;
  background-image: linear-gradient(-108deg, #3399ff 0%, #0066ff 100%);
}

@media (max-width: 1050px) {
  .contact-wrapper {
    width: 85%;
  }
}

@media (max-width: 900px) {
  .contact-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.contact-section {
  margin-bottom: 3.75rem;
}

.contact-section h1 {
  text-transform: uppercase;
  font-size: 1.625rem;
  margin: 0 0 1rem 0;
}

.contact-section h2 {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

.contact-section p {
  margin: 0;
  font-size: 1.625rem;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1rem;
}

.contact-section p a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.contact-section p a:hover {
  color: #0066ff;
}

.contact-section .contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.625rem;
}

.contact-section .contact-item .contact-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(-108deg, #3399ff 0%, #0066ff 100%);
  margin-right: 1.25rem;
}

.contact-section .contact-item .contact-item-texts {
  display: flex;
  flex-direction: column;
}

.contact-section .contact-item .contact-item-texts p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.375rem;
  margin: 0 0 0.5rem 0;
}

.contact-section .contact-item .contact-item-texts p:last-child {
  margin-bottom: 0;
}

.contact-section .contact-item .contact-item-texts h2 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
}

.college-wrapper {
  width: 1055px;
  margin: 0 auto;
}

.college-wrapper .article {
  margin-bottom: 5rem;
}

.college-wrapper .article .article-texts p {
  text-align: left;
  margin: 0 0 0.5rem 0;
}

@media (max-width: 1100px) {
  .college-wrapper .article .article-texts {
    width: 85%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.college-wrapper .article .article-img {
  text-align: center;
}

@media (max-width: 1100px) {
  .college-wrapper .article .article-img {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .college-wrapper .article {
    flex-direction: column;
    align-items: center;
  }
}

.college-wrapper .second-college-article .article-texts {
  width: 65%;
}

.college-wrapper .second-college-article .article-texts ul {
  list-style: circle;
}

.college-wrapper .second-college-article .article-texts ul li {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 1100px) {
  .college-wrapper .second-college-article .article-texts {
    order: 1;
    width: 85%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.college-wrapper .second-college-article .article-img {
  text-align: center;
}

@media (max-width: 1100px) {
  .college-wrapper .second-college-article .article-img {
    order: 2;
  }
}

@media (max-width: 1300px) {
  .college-wrapper {
    width: 90%;
  }
}

.college-info-wrapper {
  display: flex;
  justify-content: center;
  margin: 8rem 0;
}

.college-info-wrapper .college-info-item {
  display: flex;
  flex-direction: column;
  margin-right: 4.25rem;
}

.college-info-wrapper .college-info-item:last-child {
  margin-right: 0;
}

.college-info-wrapper .college-info-item .college-info-item-heading {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.college-info-wrapper .college-info-item .college-info-item-heading h1 {
  margin: 0;
}

.college-info-wrapper .college-info-item .college-info-item-heading .college-info-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-image: linear-gradient(-108deg, #3399ff 0%, #0066ff 100%);
  margin-right: 1.25rem;
}

.college-info-wrapper .college-info-item .align-center {
  margin-top: 1rem;
  text-align: center;
}

.college-info-wrapper .college-info-item .college-info-item-texts {
  font-family: "Open Sans", sans-serif;
}

.college-info-wrapper .college-info-item .college-info-item-texts p {
  margin: 0 0 0.3rem 0;
}

.college-info-wrapper .college-info-item .item-texts-flex {
  display: flex;
}

.college-info-wrapper .college-info-item .item-texts-flex .college-info-item-texts-section {
  width: 40%;
}

.college-info-wrapper .college-info-item .item-texts-flex .college-info-item-texts-section:nth-child(2) {
  text-align: center;
  width: 15%;
}

.college-info-wrapper .college-info-item .item-texts-flex .college-info-item-texts-section:nth-child(3) {
  text-align: right;
  width: 45%;
}

@media (max-width: 1300px) {
  .college-info-wrapper .college-info-item {
    margin-right: 0;
  }
}

@media (max-width: 900px) {
  .college-info-wrapper .college-info-item {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1300px) {
  .college-info-wrapper {
    width: 85%;
    margin: 8rem auto 8rem auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 900px) {
  .college-info-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.college-gallery-wrapper {
  width: 875px;
  margin: 0 auto 5rem auto;
  text-align: center;
}

.college-gallery-wrapper h1 {
  text-transform: uppercase;
}

.college-gallery-wrapper .college-gallery-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.college-gallery-wrapper .college-gallery-container .college-gallery-photo {
  margin-bottom: 0.5rem;
  width: 33%;
}

.college-gallery-wrapper .college-gallery-container .college-gallery-photo img {
  max-width: 100%;
}

@media (max-width: 700px) {
  .college-gallery-wrapper .college-gallery-container .college-gallery-photo {
    width: 49%;
  }
}

@media (max-width: 1100px) {
  .college-gallery-wrapper {
    width: 90%;
  }
}

.hostel-wrapper {
  width: 1055px;
  margin: 3rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hostel-wrapper .article {
  margin-bottom: 5rem;
}

@media (max-width: 1300px) {
  .hostel-wrapper .article .article-img {
    width: 100%;
    text-align: center;
  }
}

.hostel-wrapper .article .article-texts h1 {
  margin-top: 0;
}

.hostel-wrapper .article .article-texts p {
  text-align: left;
  margin: 0 0 0.5rem 0;
}

@media (max-width: 1300px) {
  .hostel-wrapper .article .article-texts {
    width: 85%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1300px) {
  .hostel-wrapper .article {
    flex-direction: column;
    align-items: center;
  }
}

.hostel-wrapper .hostel-gallery-wrapper {
  width: 875px;
  margin: 0 auto 5rem auto;
  text-align: center;
}

.hostel-wrapper .hostel-gallery-wrapper h1 {
  text-transform: uppercase;
}

.hostel-wrapper .hostel-gallery-wrapper .college-gallery-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hostel-wrapper .hostel-gallery-wrapper .college-gallery-container .college-gallery-photo {
  width: 33%;
  margin-bottom: 0.5rem;
}

.hostel-wrapper .hostel-gallery-wrapper .college-gallery-container .college-gallery-photo img {
  max-width: 100%;
}

@media (max-width: 700px) {
  .hostel-wrapper .hostel-gallery-wrapper .college-gallery-container .college-gallery-photo {
    width: 49%;
  }
}

@media (max-width: 1100px) {
  .hostel-wrapper .hostel-gallery-wrapper {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .hostel-wrapper {
    width: 90%;
  }
}

.hostel {
  background-image: url(/images/applications-bg.png?037dbfc3b5223424305241c058095c63);
  text-align: center;
  margin: 7.5rem 0;
}

.hostel .number-of-beds {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hostel .number-of-beds div {
  display: flex;
  align-items: center;
  margin-right: 6rem;
}

.hostel .number-of-beds div div {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  margin-right: 1.5rem;
}

.hostel .number-of-beds div div h1 {
  font-size: 1.625rem;
  line-height: 1rem;
  margin: 0;
}

@media (max-width: 900px) {
  .hostel .number-of-beds div div h1 {
    font-size: 1.3rem;
  }
}

.hostel .number-of-beds div div p {
  margin: 0;
  font-size: 0.8rem;
}

@media (max-width: 900px) {
  .hostel .number-of-beds div div p {
    font-size: 0.65rem;
  }
}

@media (max-width: 900px) {
  .hostel .number-of-beds div div {
    margin-right: 0.75rem;
    margin-bottom: 0;
  }
}

.hostel .number-of-beds div span {
  font-size: 2.875rem;
  color: #fff;
  padding: 0 0.75rem;
  background-image: linear-gradient(-108deg, #3399ff 0%, #0066ff 100%);
  border-radius: 1.25rem;
}

@media (max-width: 900px) {
  .hostel .number-of-beds div span {
    font-size: 2.2rem;
  }
}

@media (max-width: 900px) {
  .hostel .number-of-beds div {
    margin-right: 3rem;
  }
}

@media (max-width: 600px) {
  .hostel .number-of-beds div {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.hostel .number-of-beds div:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  .hostel .number-of-beds {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .hostel {
    margin: 4rem 0;
  }
}

.hostel-contact {
  margin: 0 auto;
  display: flex;
}

.hostel-contact .contact-item {
  margin-right: 2rem;
}

@media (max-width: 900px) {
  .hostel-contact .contact-item {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.hostel-contact .contact-item:last-child {
  margin-right: 0;
}

@media (max-width: 900px) {
  .hostel-contact {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media (max-width: 700px) {
  .hostel-contact {
    flex-direction: column;
    align-items: flex-start;
  }
}

.files-page-wrapper h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.files-wrapper {
  width: 1000px;
  margin: 3rem auto 0 auto;
}

.files-wrapper .files-section {
  margin-bottom: 1rem;
}

.files-wrapper .files-section .section-expanded {
  border-radius: 0 !important;
  border-top-left-radius: 1.25rem !important;
  border-top-right-radius: 1.25rem !important;
}

.files-wrapper .files-section .files-section-name {
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-image: linear-gradient(90deg, #3399ff 0%, #0066ff 100%);
}

.files-wrapper .files-section .files-section-name h1 {
  cursor: pointer;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 900px) {
  .files-wrapper .files-section .files-section-name h1 {
    font-size: 1.5rem;
  }
}

.files-wrapper .files-section .files-section-name img {
  max-width: 25px;
  cursor: pointer;
}

.files-wrapper .files-section .files-section-name .files-section-buttons {
  margin-left: auto;
}

.files-wrapper .files-section .files-section-name .files-section-buttons .hide {
  display: none;
}

.files-wrapper .files-section .files-section-body {
  display: none;
}

.files-wrapper .files-section .files-section-body table {
  width: 100%;
}

.files-wrapper .files-section .files-section-body table thead tr {
  background-color: #ebebeb;
}

.files-wrapper .files-section .files-section-body table tr {
  padding: 2rem 0;
  background-color: #fff;
}

.files-wrapper .files-section .files-section-body table tr th {
  font-weight: bold;
}

.files-wrapper .files-section .files-section-body table tr td {
  font-weight: normal;
}

.files-wrapper .files-section .files-section-body table tr td a {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.files-wrapper .files-section .files-section-body table tr td a:hover {
  color: #0066ff;
}

.files-wrapper .files-section .files-section-body table tr th,
.files-wrapper .files-section .files-section-body table tr td {
  font-size: 1.1rem;
  text-align: center;
  padding: 1.2rem 0;
}

@media (max-width: 900px) {
  .files-wrapper .files-section .files-section-body table tr th,
  .files-wrapper .files-section .files-section-body table tr td {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .files-wrapper .files-section .files-section-body table tr th,
  .files-wrapper .files-section .files-section-body table tr td {
    font-size: 0.9rem;
  }
}

.files-wrapper .files-section .files-section-body table tr th:first-child,
.files-wrapper .files-section .files-section-body table tr td:first-child {
  width: 70%;
  text-align: left;
  padding-left: 1rem;
}

@media (max-width: 700px) {
  .files-wrapper .files-section .files-section-body table tr th:first-child,
  .files-wrapper .files-section .files-section-body table tr td:first-child {
    width: 60%;
  }
}

.files-wrapper .files-section .files-section-body table tr .open-link {
  text-align: right;
}

.files-wrapper .files-section .files-section-body table tr .nahlad a,
.files-wrapper .files-section .files-section-body table tr .stiahnut a {
  border-radius: 1.25rem;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(-108deg, #3399ff 0%, #0066ff 100%);
  color: #fff;
}

@media (max-width: 900px) {
  .files-wrapper .files-section .files-section-body table tr .nahlad a,
  .files-wrapper .files-section .files-section-body table tr .stiahnut a {
    font-size: 0.9rem;
  }
}

@media (max-width: 700px) {
  .files-wrapper .files-section .files-section-body table tr .nahlad a,
  .files-wrapper .files-section .files-section-body table tr .stiahnut a {
    font-size: 0.8rem;
    padding: 0.25rem 0.8rem;
  }
}

.files-wrapper .files-section .files-section-body table tr .nahlad a:hover,
.files-wrapper .files-section .files-section-body table tr .stiahnut a:hover {
  color: #000;
}

.files-wrapper .files-section .files-section-body table tr:nth-child(even) {
  background-color: #f7f7f7;
}

@media (max-width: 1100px) {
  .files-wrapper {
    width: 90%;
  }
}

.page-container {
  width: 1095px;
  margin: 0 auto;
  margin-top: 3rem;
}

@media (max-width: 1300px) {
  .page-container {
    width: 85%;
  }
}

.gallery-wrapper {
  width: 875px;
  margin: 0 auto 5rem auto;
  text-align: center;
}

.gallery-wrapper h1 {
  text-transform: uppercase;
}

.gallery-wrapper .gallery-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-wrapper .gallery-container .gallery-photo {
  margin-bottom: 0.5rem;
  width: 33%;
}

.gallery-wrapper .gallery-container .gallery-photo img {
  max-width: 100%;
}

@media (max-width: 1100px) {
  .gallery-wrapper .gallery-container .gallery-photo {
    width: 49%;
  }
}

@media (max-width: 1100px) {
  .gallery-wrapper {
    width: 100%;
  }
}

.login-page-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/login-page-bg.png?e287885177c8abe126104ea6e365f04a);
  position: relative;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.login-page-wrapper a {
  margin-top: 6.5rem;
  z-index: 3;
}

.login-page-wrapper a img {
  z-index: 4;
}

.login-page-wrapper::after {
  content: "";
  background-image: url(/images/header-bg-after.png?a9a1e1ad821d1b019b47882c9ffc648a);
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.login-form {
  z-index: 3;
  margin-top: 5rem;
  border-radius: 3.125rem;
  padding: 3.375rem 2rem 1.375rem 2rem;
  background-color: #fff;
  text-align: center;
  width: 430px;
}

.login-form h1 {
  margin: 0 0 2rem 0;
  font-size: 2.8rem;
}

.login-form .input-wrapper {
  text-align: center;
}

.login-form .input-wrapper label,
.login-form .input-wrapper input {
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.login-form .input-wrapper input {
  border-radius: 1.625rem;
  margin: 0.5rem 0 1rem 0;
  padding: 1rem 1.75rem;
  background-color: #b7b7b7;
  border: none;
  outline: none;
  width: 100%;
}

.login-form .input-wrapper button {
  background-image: linear-gradient(-108deg, #3399ff 0%, #0066ff 100%);
  border-radius: 1.25rem;
  padding: 0.75rem 1.25rem;
  margin-top: 2.75rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.wrapper-404 {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-108deg, #3399ff 0%, #0066ff 100%);
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.wrapper-404 .top-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-404 .top-container img {
  height: 232px;
  margin-right: 5.75rem;
}

.wrapper-404 .top-container .texts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-404 .top-container .texts h1 {
  color: #fff;
  font-size: 220px;
  line-height: 180px;
  margin: 0;
}

.wrapper-404 .top-container .texts h1 span {
  font-size: 200px;
}

.wrapper-404 .top-container .texts h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.75rem;
  font-weight: bold;
  margin: 0;
}

.wrapper-404 .bottom-container {
  margin-top: 5rem;
}

.wrapper-404 .bottom-container a {
  text-decoration: none;
  color: #3399ff;
}

.wrapper-404 .bottom-container a h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1.25rem 2rem;
  border-radius: 1.25rem;
  background-image: linear-gradient(-108deg, white 0%, #e7e7e7 100%);
}

.materialy-page-bg {
  background-image: url(/images/materialy-bg.png?31a0430217ac82c562cff722f1cd22a7);
}

.kontakt-page-bg {
  background-image: url(/images/contact-bg.png?5079b5bd7e9216ce0f28dc536f32d160);
}

.internat-page-bg {
  background-image: url(/images/internat-bg.png?7133cee4937c39ae46f7483fa0d3899d);
}

.ubytovna-page-bg {
  background-image: url(/images/internat-bg.png?7133cee4937c39ae46f7483fa0d3899d);
}

.odkazy-page-bg {
  background-image: url(/images/materialy-bg.png?31a0430217ac82c562cff722f1cd22a7);
}

header {
  background-repeat: no-repeat;
  min-height: 850px;
  position: relative;
  overflow: hidden;
  background-position-x: center;
  background-image: url(/images/header-bg.png?7fbfb53e94084341f0f65707161670ae);
}

header .nav-bg {
  background-color: #0c72ff;
  transition: 0.3s;
}

header .nav-bg ul li a:hover {
  color: #000 !important;
}

header .nav-bg ul li .own-dropdown {
  top: 10px;
  padding: 1rem;
  background-color: #0c72ff !important;
  padding: 0rem 2rem 1.5rem 2rem !important;
  margin-left: -1rem;
  margin-top: 1rem;
  border: none;
}

header .nav-bg ul li .own-dropdown a {
  color: #fff;
  padding: 0;
  margin-bottom: 1.5rem;
}

header .nav-bg ul li .own-dropdown a:last-child {
  margin-bottom: 0;
}

header .nav-bg ul li .own-dropdown a:hover {
  color: #0c72ff;
  background-color: transparent;
}

header .main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: height 0.7s linear;
}

header .main-nav ul {
  width: 100%;
  padding: 0;
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  list-style: none;
}

header .main-nav ul li {
  margin-right: 1rem;
}

header .main-nav ul li img {
  max-width: 96px;
}

@media (max-width: 1150px) {
  header .main-nav ul li img {
    max-width: 85px;
  }
}

header .main-nav ul li a {
  font-size: 1.25rem;
  line-height: 0;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

@media (max-width: 1150px) {
  header .main-nav ul li a {
    font-size: 1.1rem;
  }
}

header .main-nav ul li a:hover {
  color: #0c72ff;
}

header .main-nav ul li .own-dropdown {
  top: 10px;
  padding: 1rem;
  background-color: transparent;
  border: none;
}

header .main-nav ul li .own-dropdown a {
  color: #fff;
  padding: 0;
  margin-bottom: 1.5rem;
}

header .main-nav ul li .own-dropdown a:last-child {
  margin-bottom: 0;
}

header .main-nav ul li .own-dropdown a:hover {
  color: #0c72ff;
  background-color: transparent;
}

@media (max-width: 1150px) {
  header .main-nav ul li {
    margin-right: 0.5rem;
  }
}

header .main-nav ul li:last-child {
  margin-right: 0;
}

@media (max-width: 1000px) {
  header .main-nav {
    display: none;
  }
}

header .school-banner {
  padding: 16.5rem 0 0 0;
  text-align: right;
  width: 1095px;
  margin: 0 auto;
}

header .school-banner h1 {
  margin: 0;
  color: #fff;
  font-size: 6rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 60%;
  margin-left: auto;
}

@media (max-width: 1000px) {
  header .school-banner h1 {
    max-width: 100%;
    font-size: 4rem;
  }
}

header .school-banner h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 2.5rem;
  line-height: 1;
  max-width: 60%;
  margin-left: auto;
}

@media (max-width: 1000px) {
  header .school-banner h2 {
    max-width: 100%;
  }
}

header .school-banner h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 1.25rem;
  margin: 0;
  max-width: 60%;
  margin-left: auto;
}

@media (max-width: 1000px) {
  header .school-banner h3 {
    max-width: 100%;
  }
}

header .school-banner p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 1.875rem;
  margin: 0;
  max-width: 60%;
  margin-left: auto;
}

@media (max-width: 1000px) {
  header .school-banner p {
    max-width: 100%;
  }
}

@media (max-width: 1300px) {
  header .school-banner {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  header .school-banner {
    text-align: center;
    padding: 12.5rem 0 0 0;
  }
}

@media (max-width: 1400px) {
  header {
    min-height: 750px;
  }
}

@media (max-width: 700px) {
  header {
    min-height: 700px;
  }
}

@media (max-width: 500px) {
  header {
    min-height: 675px;
  }
}

header::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 300px;
  display: block;
  display: block;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/header-bg-after.png?a9a1e1ad821d1b019b47882c9ffc648a);
}

@media (max-width: 1000px) {
  header::after {
    background-size: contain;
  }
}

footer {
  text-align: center;
  color: #000;
  font-family: "Open Sans", sans-serif;
  margin: 2rem 0;
}

footer h1 {
  font-size: 1.375rem;
  font-weight: 300;
  margin: 0 0 0.5rem 0;
}

footer h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}

.scale-down-center {
  -webkit-animation: scale-down-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-down-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-up-center 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-down-center {
  0% {
    max-width: 95px;
  }

  100% {
    max-width: 70px;
  }
}

@keyframes scale-down-center {
  0% {
    max-width: 95px;
  }

  100% {
    max-width: 70px;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    max-width: 70px;
  }

  100% {
    max-width: 95px;
  }
}

@keyframes scale-up-center {
  0% {
    max-width: 70px;
  }

  100% {
    max-width: 95px;
  }
}

